In [58]:
import os, io, json, urllib, numpy as np

In [114]:
def get_citation(issn):
    year='2016'
    url='http://api.crossref.org/journals/'+issn+'/works?filter=from-pub-date:'+year+'-01-01,until-pub-date:'+year+'-12-31&rows=1000'
    json_file='tmp.json'
    urllib.urlretrieve (url,json_file)
    with open(json_file) as file:    
                try:
                    data = json.load(file)
                except:
                    data={u'message': {u'items': []}}
    items=data['message']['items']    
    cited=[]
    for item in items:
        cited.append(item['is-referenced-by-count'])
    print len(cited), sum(cited), round(np.mean(cited),2)

In [121]:
l=[
'1678-9881',
'1678-2690',
'2282-0035',
'1651-2057',
'2353-074X',
'2083-9480',
'1846-0410',
'1801-7576',
'1868-6869',
'1981-5794',
'2182-2999',
'1988-8511',
'1885-4494',
'1678-2925',
'1678-4219',
'1678-4227',
'2340-9894',
'1683-8947',
'2213-4379',
'2311-9284',
'1678-4499',
'1845-5859',
'2160-8091',
'2336-6591',
'2314-3738',
'1989-1067',
'2150-6701',
'1334-417X',
'1879-0313',
'1678-4588',
'1850-1702',
'2346-2183',
'1820-7375',
'1988-8384',
'2241-8512',
'2064-4477',
'1988-8546',
'1798-5617',
'2253-4083',
'2194-8798',
'1854-620X',
'1988-4214',
'2159-3159',
'1601-5223',
'1988-4265',
'0976-2817',
'1998-4774',
'1998-3611',
'1998-3727',
'2229-7693',
'1988-3234',
'1808-1657',
'2316-901X',
'2384-8553',
'1678-4782',
'1727-5652',
'0972-2823',
'1334-9090',
'1581-7903',
'2304-8557',
'0023-8082',
'2362-4620',
'2350-420X',
'1585-4515',
'2406-0682',
'2279-8013',
'1669-9106',
'1536-5964',
'2186-9057',
'1846-4025',
'2037-3651',
'2226-2385',
'1815-672X',
'1998-4022',
'2219-0635',
]

In [122]:
for issn in l:
    get_citation(issn)

0 0 nan
0 0 nan
0 0 nan
0 0 nan
22 2 0.09
50 2 0.04
43 0 0.0
43 2 0.05
0 0 nan
26 0 0.0
0 0 nan
32 0 0.0
0 0 nan
0 0 nan
0 0 nan
0 0 nan
0 0 nan
0 0 nan
68 1 0.01
27 17 0.63
0 0 nan
29 3 0.1
0 0 nan
0 0 nan
0 0 nan
6 2 0.33
64 11 0.17
69 11 0.16
0 0 nan
0 0 nan
0 0 nan
151 12 0.08
24 0 0.0
20 0 0.0
104 0 0.0
22 6 0.27
15 0 0.0
12 0 0.0
0 0 nan
42 5 0.12
19 0 0.0
53 0 0.0
0 0 nan
17 2 0.12
51 1 0.02
0 0 nan
0 0 nan
0 0 nan
0 0 nan
0 0 nan
57 2 0.04
60 2 0.03
48 1 0.02
0 0 nan
0 0 nan
128 53 0.41
0 0 nan
44 1 0.02
0 0 nan
25 0 0.0
0 0 nan
0 0 nan
24 0 0.0
0 0 nan
0 0 nan
0 0 nan
0 0 nan
0 0 nan
46 58 1.26
0 0 nan
0 0 nan
0 0 nan
0 0 nan
0 0 nan
31 12 0.39