In [2]:
%matplotlib inline
import os, io, json, urllib, numpy as np, codecs
import glob, pandas as pd
pd.options.display.max_rows = 999

In [3]:
def h_(citation):
    citation=list(citation)
    h=0
    citation.sort(reverse=True)
    for i in range(1,len(citation)+1):
        if citation[i-1] >= i:
            h=i
    return h

In [4]:
# skip if result.txt exists
y17 = glob.glob('data/August/2017/*.txt')
y16 = glob.glob('data/August/2016/*.txt')
y15 = glob.glob('data/August/2015/*.txt')
y14 = glob.glob('data/August/2014/*.txt')
y14_17=y14+y15+y16+y17
with open("data/August/data.txt", "wb") as outfile:
    for f in y14_17:
        with open(f, "rb") as infile:
            lines=infile.read().split('\n')
            for line in lines:
                if len(line.split('\t'))==10:
                    outfile.write(line+'\n')

In [7]:
df=pd.read_table('data/August/data.txt',header=None)
df.columns=['doi','year','ref','citation','issnp','issne','journal','publisher','author','lic']
df.shape

(11296959, 10)

In [8]:
df['yy']=df.year.str[1:5]
df['mm']=df.year.apply(lambda x: int(x.replace(']','').split(', ')[1]) if len(x.split(', '))>1 else 0)

In [9]:
df=df[~((df.yy=='2014') & (df.mm<9))]
df.shape

(9274208, 12)

In [10]:
df.groupby('mm').count()

,doi,year,ref,citation,issnp,issne,journal,publisher,author,lic,yy
mm,,,,,,,,,,,
0,1160173,1160173,1160173,1160173,878196,760001,1160173,1160171,1160173,169413,1160173
1,789559,789559,789559,789559,661652,489909,789559,789553,789559,329151,789559
2,572077,572077,572077,572077,499841,324205,572077,572070,572077,277487,572077
3,683514,683514,683514,683514,590943,397342,683514,683491,683514,316217,683514
4,663332,663332,663332,663332,575679,368009,663332,663311,663332,321061,663332
5,632449,632449,632449,632449,548507,355692,632449,632415,632449,304477,632449
6,705415,705415,705415,705415,599763,412234,705415,705400,705415,317896,705415
7,638252,638252,638252,638252,553223,382972,638252,638252,638252,307035,638252
8,580588,580588,580588,580588,499564,329094,580588,580588,580588,292511,580588
9,747831,747831,747831,747831,660942,388524,747831,747817,747831,355338,747831
10,682696,682696,682696,682696,599017,371819,682696,682682,682696,324908,682696
11,626481,626481,626481,626481,549973,339288,626481,626453,626481,314369,626481
12,717287,717287,717287,717287,608595,401728,717287,717281,717287,306627,717287
99,74554,74554,74554,74554,22,74553,74554,74554,74554,0,74554

In [11]:
df['year']=df['yy'].astype(int)

In [12]:
df=df[(df['year']<=2017) & (df['year']>=2014)]
df.shape

(9199654, 12)

In [13]:
df['count']=1
df['cited']=df['citation'].apply(lambda x: 1 if x>0 else 0)
df['un-cited']=df['citation'].apply(lambda x: 0 if x>0 else 1)

In [14]:
df=df[(~df.issnp.isnull()) | (~df.issne.isnull())]
df.shape

(9191193, 15)

In [15]:
#df=df[['doi','year','mm','citation','issnp','issne']].fillna('_')
df=df.fillna('_')
df['issn']=df.issnp+','+df.issne
df['issn']=df.issn.str.replace(',_','')
df['issn']=df.issn.str.replace('_,','')

In [16]:
df['issn']=df.issn.apply(lambda x:x[0:9] if x[10:19]==x[0:9] else x)

In [17]:
s=df.issn.str.split(',',expand=True).stack()

In [18]:
i = s.index.get_level_values(0)

In [19]:
df2 = df.loc[i].copy()

In [20]:
df2["@id"] = s.values

In [24]:
import json

with open('journals.json') as data_file:    
    id_subject_dic = json.load(data_file)

In [25]:
df2['subjects']=df2['@id'].apply(lambda x: ';'.join(id_subject_dic[x]['e:subjects']) if x in id_subject_dic else '')

In [88]:
unique_subjects=[]
all_subjects=df2['subjects'].values
for journal_subjects in all_subjects:
    subjects=journal_subjects.split(';')
    for subject in subjects:
        if subject not in unique_subjects: unique_subjects.append(subject)

In [89]:
len(unique_subjects)

329

In [100]:
for subject in unique_subjects:
    print subject
    df_subject=df2[df2.subjects.apply(lambda x: subject in x.split(';'))].sort_values('citation', ascending= False)[:20]
    top_dois=df_subject[['doi','@id','citation']].to_dict('list')
    zips=zip(top_dois['doi'],top_dois['@id'],top_dois['citation'])
    items=[];
    for doi,issn,citation in zips:
        item={}; item_cleaned={}
        url='http://api.crossref.org/works/'+doi
        response = urllib.urlopen(url).read()    
        json_result=json.loads(response)
        item = json_result['message']
        author='0';year_print=[9999,99,99];year_online=[9999,99,99];
        if 'title' in item:
            title=item['title'][0]
        if 'published-print' in item:
            year_print=item['published-print']['date-parts'][0]                
        if 'published-online' in item:
            year_online=item['published-online']['date-parts'][0]
        year=min(year_print,year_online)
        if 'DOI' in item: doi=item['DOI']
        if 'container-title' in item: journal=','.join(item['container-title'])
        if 'publisher' in item: pub=item['publisher']; pub=''if pub==None else pub
        if 'references-count' in item: ref=str(item['references-count'])
        if 'author' in item: authors=item['author']
        if len(year)>1 :
            month=str(year[1]) 
        else: month=''
        item_cleaned={'doi':doi,
                      'title':title,
                      'year':str(year[0])+'-'+month,
                      'cite':str(citation),
                      'issn':issn, 
                      'journal':journal,
                      'pub':pub,
                      'authors':authors}
        items.append(item_cleaned)  
    with open('sjdb/top_'+subject+'.json', 'w') as fp:
        json.dump(items, fp)

Mechanical Engineering

In [144]:
for subject in unique_subjects:
    df_lic=df2[df2.subjects.apply(lambda x: subject in x.split(';'))]
    top_lics=df_lic[['lic','count']].groupby('lic').count().sort_values('count',ascending=False).head().reset_index().to_dict('list')

In [147]:
top_lics

{'count': [377237, 207442, 108713, 74443, 56595],
 'lic': ['_',
  'www.elsevier.com',
  'creativecommons.org',
  'doi.wiley.com',
  'www.springer.com']}

In [151]:
    zips=zip(top_lics['lic'],top_lics['count'])
    items=[];
    for lic,count in zips:
        item={}; item_cleaned={}
        item_cleaned={'lic':lic,
                      'count':str(count)}
        items.append(item_cleaned)  
    with open('sjdb/lic_'+subject+'.json', 'w') as fp:
        json.dump(items, fp)

In [153]:
items

[{'count': '377237', 'lic': '_'},
 {'count': '207442', 'lic': 'www.elsevier.com'},
 {'count': '108713', 'lic': 'creativecommons.org'},
 {'count': '74443', 'lic': 'doi.wiley.com'},
 {'count': '56595', 'lic': 'www.springer.com'}]